{% extends 'base.html.twig' %}

{% block title %}Hello RequirementsController!{% endblock %}

{# {% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/CCi-campus/PHP/Server/laragon/www/aquila-crm/src/Controller/Install/RequirementsController.php</code></li>
        <li>Your template at <code>D:/CCi-campus/PHP/Server/laragon/www/aquila-crm/templates/install/requirements/index.html.twig</code></li>
    </ul>
</div>
{% endblock %} #}


{% block body %}

    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title"></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <ul class="list-group">
                                <li class="list-group-item disabled" aria-disabled="true">
                                    {{ 'installation.requirements.mandatory'|trans }}
                                </li>
                                {% for requirement in requirements %}
                                    {{ requirementCheck(requirement) }}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6 d-flex">
                            <ul class="list-group">
                                <li class="list-group-item disabled" aria-disabled="true">
                                    {{ 'installation.requirements.optional'|trans }}
                                </li>
                                {# {% for requirement in requirements.recommendations %}
                                    {{ requirementCheck(requirement) }}
                                {% endfor %} #}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col align-self-start">
                            {# <a href="{{ path('_install_check_requirements') }}" class="btn btn-warning btn-block"> #}
                                {# {{ icon('refresh') }} {{ "installation.action.refresh"|trans }} #}
                            {# </a> #}
                        </div>
                        <div class="col-8">
                        </div>
                        <div class="col">
                            {# <a id="continue_step" href="{{ path('_install_config') }}" class="btn btn-success float-right btn-block{% if requirements.failedRequirements|length > 0 %} disabled{% endif %}"> #}
                                {# {{ "installation.action.next"|trans }} {{ icon('arrow-right') }} #}
                            {# </a> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}