{% extends 'base-nonav.html.twig' %}

{% block title %}APP Requirements!{% endblock %}

{# {% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/CCi-campus/PHP/Server/laragon/www/aquila-crm/src/Controller/Install/RequirementsController.php</code></li>
        <li>Your template at <code>D:/CCi-campus/PHP/Server/laragon/www/aquila-crm/templates/install/requirements/index.html.twig</code></li>
    </ul>
</div>
{% endblock %} #}


{% block body %}

    {% if requirements.failedRequirements|length > 0 %}
    <div class="alert alert-danger">
        <div class="d-none col-sm-1">
            <i class="mdi mdi-cancel mdi-48px"></i>
        </div>
        <strong>{{ 'installation.requirements.not_met'|trans }}</strong>
        <br />
        {{ 'installation.requirements.message'|trans }}
        <br class="clear" />
    </div>
    {% endif %}


    <div class="card widget-flat ">

        <div class="card-header" >
            <h3>System Requirements</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <ul class="list-group">
                        <li class="list-group-item disabled " aria-disabled="true">
                            Mandatory
                        </li>
                        {% import 'install/macro/_requirements.html.twig' as macros %}
                           {{macros.requirements(requirements.requirements)}} 
                        
                        
                        
                    </ul>
                </div>
                <div class="col-md-6 d-flex">
                    <ul class="list-group">
                        <li class="list-group-item disabled " aria-disabled="true">
                            Optionnal
                        </li>
                        {{macros.requirements(requirements.recommendations)}}
                        
                       
                </div>

                {% for requirement in requirements%}
                            <li>{{dump(requirement.failedRecommendations)}}
                        {% endfor  %}
            </div>
        </div>
        <div class= "card-footer d-flex justify-content-between">
            
            <div class="align-self-start">
                <a href="#" class="btn btn-warning btn-block">
                    <span class="text-info">
                    <i class="mdi mdi-refresh"></i>
                    </span>
                    Refresh
                </a>
            </div>
            <div class="align-self-end">
                <a href="{{ path('app_install_database_config') }}" class="btn btn-success btn-block{% if requirements.failedRequirements|length > 0 %} disabled{% endif %}">
                    <span class="text-info">
                    <i class="mdi mdi-arrow-right text-info"></i>
                    </span>
                    
                   
                    Suivant
                </a>
            </div>
           
        </div>

    </div>

















{% endblock %}